.main_clock_container{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 130px;
}
#check{
    opacity: 0;
    width: 49px;
    height: 25px;
    margin: 0px;
    position: absolute;
    top: 64px;
}
.switch{
    width: 51px;
    height: 26px;
    display: inline-block;
    background: rgb(236, 232, 232)
}
#cir{
    background : rgb(54, 184, 194);
    position: absolute;
    top: 64px;
    left: 4px;
    width:20px;
    height: 20px;
}
.manual_clk{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 112px;
}